POSTGRES_USER=campus_admin
POSTGRES_PASSWORD=campus_password
POSTGRES_DB=campusconnect
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=campus
RABBITMQ_DEFAULT_PASS=campus_password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

SEQ_PORT=8081
SEQ_INGESTION_PORT=5341

GATEWAY_PORT=8080
FRONTEND_PORT=3000

JWT_SECRET=CHANGE_THIS_DEVELOPMENT_SECRET
JWT_ISSUER=CampusConnect360
JWT_AUDIENCE=CampusConnect360Clients